.parent {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; */

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "menu main"
                        "menu main"
                        "menu keyboard";
    height: 100%;
    margin: 0px;

    }
    
.user-menu { 
    background-color: whitesmoke;
    grid-area: menu;
    padding: 1rem 0rem;
 }

 
.chat-area { 
    grid-area: main;
    background-color: rgba(0, 48, 98, 0.8);
    overflow-y: scroll;
    padding: 1rem ;
    padding-bottom: 2rem;;
 } 

.keyboard { 
    grid-area: keyboard;
    background-color: rgba(0, 48, 98, 0.8);
}

 /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display:none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }