<div class="container">
    <h2 class="border-top pt-4 text-center">Contact Us</h2>
    <p class="pb-3 text-center">
        We love to hear your anything you have to say.<br>
        Don't hesitate to reach out!
        </p>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
            <form #feedbackForm="ngForm" (ngSubmit)="onFeedback(feedbackForm)"
                class="d-flex flex-column justify-content-center m-auto" style="max-width: 500px;">
                
                <div class="mb-3">
                    <label for="name" class="form-label">How do we address you?</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name"
                        name="name"
                        ngModel
                        required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        aria-describedby="emailHelp"
                        name="email"
                        ngModel
                        required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-3">
                    <label for="body" class="form-label">What would you like to tell us?</label>
                    <textarea 
                        class="form-control" 
                        name="body" 
                        id="body" 
                        cols="30" 
                        rows="5"
                        name="content"
                        ngModel
                        required></textarea>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="feedbackForm.form.invalid">Submit</button>
            </form>
      </div>
</div>