<div class="container d-flex align-items-center" style=height:100%;>
<div class="position-relative container bg-light border" style="max-width: 700px; min-height: 80vh;">
    <h2 class="pt-4 pb-3 text-center">Welcome Back!</h2>
        <!-- <p class="pb-3 text-center">
            Welcome Back!
        </p> -->
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
            <form class="d-flex flex-column justify-content-center m-auto" style="max-width: 500px;">

                <div class="mb-4">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username">
                    <div id="usernameHelp" class="form-text">Your username is your registered email address</div>
                </div>

                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" aria-describedby="emailHelp">
                </div>

                <div class="pt-1 m-auto" style="width:60%">
                    <button type="submit" class="btn btn-primary" style="width: 100%">Login</button>
                </div>

                <div class="position-absolute d-flex flex-column align-items-center" style="bottom: 10%; right: 5%">
                    <img class="align-self-end" width="30" height="24" src="/assets/images/svg/heart.svg"/>
                    <img width="60" height="48" src="/assets/images/svg/robot-logo.svg"/>
                </div>
            </form>
      </div>
</div>
</div>