.messages {
    display: grid;
    row-gap: 5px;
    justify-items: space-around;
    max-width: 700px;
    margin: auto;

}

.scroller * {
    overflow-anchor: none;
}

.anchor{
    overflow-anchor: auto !important;
    height: 1px;
}

.message {
  max-width: 200px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.message p {
  margin: 0px;
}

.user-other {
  place-self: start;
  background: #ef7b00cb;
  color: white;
}

.user-me {
  place-self: end;
  background: rgb(236, 236, 236);
  color: black
}

.message2 {
    --r: 25px; /* the radius */
    --t: 30px; /* the size of the tail */
    
    max-width: 300px;
    min-width: 80px;
    padding: calc(2*var(--r)/3);
    -webkit-mask: 
      radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
        var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
      conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
        calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
      radial-gradient(50% 50%,#000 98%,#0000 101%) 
        0 0/var(--r) var(--r) space padding-box;
    background: grey border-box;
    color: #fff;
  }


  .user-other2 {
    --_d: 0%;
    border-left: var(--t) solid #0000;
    margin-right: var(--t);
    place-self: start;
    background: cadetblue;
    color: black
  }

  .user-me2 {
    --_d: 100%;
    border-right: var(--t) solid #0000;
    margin-left: var(--t);
    place-self: end;
    background: white;
    color: black
  }