<div class="d-flex flex-row align-items-center position-relative overflow-hidden p-3 p-md-5 m-md-4 text-left"
    style="background-image: url('/assets/images/background-blue-gradient.jpg');">
        <div class="col-md-7 p-lg-7 my-7">
        <h1 class="display-5 fw-normal text-white">AI Chat Bot</h1>
        <br>
        <p class="lead fw-normal text-white">Actually Intelligent <br> Because It's Powered By Humans</p>
        <br>
        <a class="btn btn-secondary btn-lg" style="background-color:#ef7c00 " href="#">Get Started</a>
        </div>
        <div class="col-md-5 d-flex justify-content-center">
            <img class="img-fluid" style="max-height: 400px;" src="/assets/images/robot-banner.png">
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        <!-- <button type="button" (click)="toast()">test</button> -->
</div>
