.user-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-menu__search {
    width: 100%;
    display: flex;
    justify-content: center;;
}

.user-menu__search .search__label {
    position: relative;
    width: 90%;
    margin-bottom: 1rem;
  }
  
.user-menu__search .search__label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 1rem;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

.user-menu__search .search__label >.search__input {
    border-radius: 0.1;
    padding: 0.3rem 1.8rem;
    width: 100%;
    font-size: 1rem;
}

.users {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;
}

.user {
    border-bottom: 2px solid rgba(54, 69, 79, 0.1);
    padding: 0.7rem 1rem;
    display: grid;
    grid-template-columns: 50px auto 80px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img username lastseen"
                         "img msg msg";
    column-gap: 0.8rem;
    row-gap: 0px;
                         
}

.user .user--image {
    grid-area: img;
    display:flex;
    width: 50px;
    height: 50px;
    background-color: white;
    align-self: center;
    border: 1px solid rgba(54, 69, 79, 0.5);
    border-radius: 25%;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

.user .user--image img {
    width: 100px;
    height: 100px;
}

.user .user--username {
    color: #107CE5;
    grid-area: username;
    font-weight: 700;
    font-size: inherit
}

.user .user--last-seen {
    grid-area: lastseen;
    font-size: 0.8rem;
    align-self: center;
    justify-self: end;
}

.user .user--last-message {
    grid-area: msg;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    font-size: 0.8rem;
}


.selected {
    background-color: #003262;
    color: white !important;
}