
<ul class="nav__items">

    <a class="nav__item" 
        [routerLink]="['./overview']" 
        (click)="activate('overview')"
        [ngClass]="{active: active === 'overview'}" 
        >
        <li >
            <h3>Overview</h3>
        </li>
    </a>

    <a class="nav__item" 
        [routerLink]="['./manage-bot']"
        (click)="activate('manage-bot')"
        [ngClass]="{active: active === 'manage-bot'}" 
        >
        <li>
            <h3>Bot Interface</h3>
        </li>
    </a>

    <a class="nav__item" 
        [routerLink]="['./manage-password']"
        (click)="activate('manage-password')"
        [ngClass]="{active: active === 'manage-password'}" 
        >
        <li>
            <h3>Password Manager</h3>
        </li>
    </a>

    <a class="nav__item" 
        [routerLink]="['./manage-feed']"
        (click)="activate('manage-feed')"
        [ngClass]="{active: active === 'manage-feed'}" 
        >
        <li>
            <h3>RSS Feed</h3>
        </li>
    </a>

    <a class="nav__item" 
        [routerLink]="['./manage-reminder']"
        (click)="activate('manage-reminder')"
        [ngClass]="{active: active === 'manage-reminder'}" 
        >
        <li>
            <h3>Remind Me</h3>
        </li>
    </a>
</ul>

<div style="display: flex; justify-content: center; align-items: center;">
    <button type="button" class="btn btn-warning">
        Logout
    </button>
</div>